
.user_box{
  display: flex;
  border-bottom: 1px solid black;
  color: white;
  padding:  20px;
}

.users_container{
  padding: 0;
  position: relative;
}

.img_box{
  width: max-content;
  height: 100px;
  border-radius: 5px;
  border: 2px solid rgb(134, 134, 134);
  box-shadow: 0 0 10px black;
  overflow: hidden;
}

.img_box a {
  text-decoration: none;
}

img{
  height: 100%;
}
  
.selectedPage {
  font-weight: 900;
  margin-right: 5px;
  background: black;
  color: #fff;
  box-shadow: 0 0 4px black;
}

.pages{
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 7px;
  transition: .3s;
  color: white;
}

.pages:hover{
  background: grey;
}

.pages_box{
  margin-bottom: 10px;
  margin-left: 20px;
}

.info_box{
  max-width: 250px;
  overflow: hidden;
  margin-left: 20px;
  background: #464746;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

.user_status{
  width: 90%;
  overflow: hidden;
}

