.preloader_box{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.616);
}