.header {
    grid-area: h;
    background-color: rgb(24, 23, 23);
    z-index: 10;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    z-index: 101;
    color: #000;
    border-bottom: 2px solid rgb(105, 104, 104);
}

.img_box {
    width: fit-content;
    height: 70px;
    /* background: rgb(71, 69, 69); */
    /* border: 2px solid rgb(170, 170, 170); */
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 5px rgb(141, 141, 141);
}

.login_box{
    float: right;
    background: rgba(255, 255, 255);
    height: 70px;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    padding: 0 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
