.nav {
    grid-area: n;
    background-color: #2d2e2d;
    padding: 20px;
    box-shadow: 0 10px 5px black;
    z-index: 100;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}