.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: #393a39;
}










/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
